
CREATE TABLE content_data (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    description TEXT NOT NULL,
    category VARCHAR(50) NOT NULL,     -- (Cartoon, Study, Games, etc.)
    age_group VARCHAR(50) NOT NULL,    -- (3-5, 6-8, 9-12)
    content_url VARCHAR(255),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
